.indicator-rectangle{
	 width: 120px;
     height: 40px;
	 background: #2A0A0A;
	 border-radius:5px;
	 cursor:pointer;
}

.indicator-text{
	color:white;
}

.indicator-circle {
	margin:auto;
    width: 20px;
    height: 20px;
    background: #7fee1d;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
	
}
.message{
	margin-left:10px;
	margin-top:5px;
	
}
.inputText {
	display: inline-block;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    width: 342px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    font-family: 'Open Sans';
	
}

.send {
	position:relative-right;
	display: inline-block;
  	padding: 4px 12px;
  	font-size: 14px;
  	line-height: 20px;
  	color: #ffffff;
  	text-align: center;
  	cursor: pointer;
  	background-color: #FE2E2E;
  	border: 1px solid #FE2E2E;
    border-radius: 4px;
    font-family: 'Open Sans Semibold';
}

.message-history{
	overflow: scroll;
	position:relative;
	text-align:left;
	width:450px;
	height:250px;
	background-color:#FFFFFF;
    border-bottom: 2px solid black;
}

.chat-window{
	position:relative;
	margin-top:20%;
	border:2px solid black;
	width:450px;
}


body{
	background-color:#c0c0c0;	
	max-height:100%;
	min-height: 100%;
	height:100%;
}
	



